// Colors
body-background-color = #efefef
border-color = #ccc
background-color = white
text-color = #333
faded-color = #666
highlighted-background-color = #666
highlighted-color = white
cta-color = black
cta-background-color = lightgreen

// Sizes
small-padding = 5px
tiny-padding = 2px

// Breakpoints
breakpoint-small  = 1000px
breakpoint-medium = 1200px
breakpoint-large  = 1800px

@import "normalize.css"
@import "common.styl"
@import "layout.styl"
@import "cart.styl"
@import "language-and-currency-selectors.styl"
@import "user-info.styl"
@import "blocktopmenu.styl"
@import "categories.styl"
